@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: rgb(241, 241, 241);
} */

[type="radio"],
[type="checkbox"] {
  color: #789940 !important;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
  --tw-ring-color: none !important;
  color: #789940 !important ;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.404);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

:root {
  --swiper-navigation-size: 15px !important;
  --swiper-navigation-color: #e72b6f !important;
}

:root:active {
  --swiper-navigation-border: 2px !important;
}

[type="text"]:focus {
  --tw-ring-color: none !important;
}

:where(.css-dev-only-do-not-override-1i9hnpv).ant-pagination
  .ant-pagination-item {
  border: none !important;
}
